<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Person</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person</h1>
<!-- In Thymleaf the equivalent JSP's @{pageContext.request.contextPath}
/edit.html would be @{/edit.html} -->

<form th:action="@{/addPerson}"
	th:object="${personForm}" method="post">
	First Name
	<input type="text" th:field="*{firstName}"/>
	<br/>
	Last Name
	<input type="text" th:field="*{lastName}"/>
	<br/>
	<input type="submit" value="create"/>
	</form>
	<br/>
	<!-- Check if errorMessage is not null and not empty -->
	<div th:if="${errorMessage}" th:utext="${errorMessage}"
	style="color:red;font-style:italic";>
	</div>
</body>
</html>